﻿@using AlertSense.Aspen.Common.Models
@model DevOpsDashboardSample.Models.IndexModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p class="lead">@ViewBag.Message</p>
</div>

<div>
    <h2> Select Guid Voice Calls</h2>
    @using (Html.BeginForm("Index", "Home", FormMethod.Get ))
    {
        <p>
            guid: @Html.DropDownList("guidID", "All")
            
            <input type="submit" value="Select" />
        </p>
    }
    <table class="table" align="center">
        <tr>
            <th>Call From</th>
            <th>CallTo</th>
            <th>HangupCause</th>
            <th>AnsweringMachine</th>
            <th>AnswerTime</th>
            <th>CreatedOn</th>
            <th>Duration</th>
            <th>Id</th>
            <th>Message</th>
            <th>TotalCost</th>
            <th>VoiceProviderName</th>
        </tr>
    @foreach (var call in Model.ReportResponse.Calls) {
        <tr>
            <td>@call.From</td>
            <td>@call.To</td>
            <td>@call.HangupCause</td>
            <td>@call.AnsweringMachine</td>
            <td>@call.AnswerTime</td>
            <td>@call.CreatedOn</td>
            <td>@call.Duration</td>
            <th>@call.Id</th>
            <th>@call.Message</th>
            <th>@call.TotalCost</th>
            <th>@call.VoiceProviderName</th>
        </tr>
    }
    </table>
    <br />

    <h2> Select Guid Texts</h2>
    <table class="table" align="center">
        <tr>
            <th>From</th>
            <th>To</th>
            <th>Message</th>
            <th>TextProviderName</th>
            <th>Status</th>
        </tr>
        @foreach (var text in Model.ReportResponse.Texts)
        {
            <tr>
                <td>@text.From</td>
                <td>@text.To</td>
                <td>@text.Message</td>
                <td>@text.TextProviderName</td>
                <td>@text.Status</td>
            </tr>
        }
    </table>
    <br />

    <h2>All Guids' Voice Calls</h2>
    <table class="table" align="center">
        <tr>
            <th>Call From</th>
            <th>CallTo</th>
            <th>HangupCause</th>
            <th>AnsweringMachine</th>
            <th>AnswerTime</th>
            <th>CreatedOn</th>
            <th>Duration</th>
            <th>Id</th>
            <th>Message</th>
            <th>TotalCost</th>
            <th>VoiceProviderName</th>
        </tr>
        @foreach (var r in Model.ReportResponses) { 
            foreach (var call in r.Calls)
            {
            <tr>
                <td>@call.From</td>
                <td>@call.To</td>
                <td>@call.HangupCause</td>
                <td>@call.AnsweringMachine</td>
                <td>@call.AnswerTime</td>
                <td>@call.CreatedOn</td>
                <td>@call.Duration</td>
                <td>@call.Id</td>
                <td>@call.Message</td>
                <td>@call.TotalCost</td>
                <td>@call.VoiceProviderName</td>
            </tr>
            }
        }
    </table>
    <br />

    <h2>All Guids' Texts</h2>
    <table class="table" align="center">
        <tr>
            <th>Call From</th>
            <th>CallTo</th>
            <td>TextProviderName</td>
            <th>CreatedOn</th>
            
            <th>Id</th>
            <th>Message</th>
          
        </tr>
        @foreach (var r in Model.ReportResponses)
        {
            foreach (var text in r.Texts)
            {
                <tr> 
                    <td>@text.From</td>
                    <td>@text.To</td>
                    <td>@text.TextProviderName</td>
                    <td>@text.CreatedOn</td>
                    <td>@text.Id</td>
                    <td>@text.Message</td>
                    
                </tr>
            }
        }
    </table>
</div>

<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
</div>