﻿@using AlertSense.Aspen.Common.Models;
@using AlertSense.Aspen.Common.Entities;
@using PagedList;
@using PagedList.Mvc;
@model AlertSense.Aspen.Common.Models.CampaignReportResponse

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(Model => Model.CampaignId)
        </dt>

        <dd>
            @Html.DisplayFor(Model => Model.CampaignId)
        </dd>
        
    </dl>
    
    @*Calls Table*@
    <table class="table" style="table-layout:fixed; width:100%">
        <thead>Calls</thead>
        <tr>
            <th>Date</th>
            <th>From</th>
            <th>To</th>
            <th>Duration</th>
            <th>Answering Machine</th>
            <th>Hangup Cause</th>
            <th>Total Cost</th>

            <th>More...</th>
        </tr>
        
            @foreach (CallRecord call in ViewBag.OnePageOfCalls)
                {
                    <tr>
                        <td>@call.CreatedOn</td>
                        <td>@call.From</td>
                        <td>@call.To</td>
                        @if(call.Duration != null) {<td>@call.Duration sec</td>} else {<td>0 sec</td>}
                        <td>@call.AnsweringMachine</td>
                        <td>@call.HangupCause</td>
                        <td>@call.TotalCost</td>
                    
                        <td>Things in Here...</td>

                    </tr>
                }
            <tr>@Html.PagedListPager((IPagedList)ViewBag.OnePageOfCalls, callPage => Url.Action("Details", new { callPage = callPage, campID = Model.CampaignId, textPage = ViewBag.textPageNumber }))    </tr>
            
    

    </table>

    @*Texts Table*@
    <table class="table">
        <thead>Texts</thead>
        <tr>
            <th>Date</th>
            <th>From</th>
            <th>To</th>
            <th>Message</th>

            <th>More...</th>
        </tr>
            @foreach (var text in ViewBag.OnePageOfTexts)
                {
                    <tr>
                        <td>@text.CreatedOn</td>
                        <td>@text.From</td>
                        <td>@text.To</td>
                        <td>"@text.Message"</td>
                        <td>Things in here...</td>
                    </tr>
                }
        @* Paging for Calls and Texts *@
        <tr>@Html.PagedListPager((IPagedList)ViewBag.OnePageOfTexts, TextPage => Url.Action("Details", new { textPage = TextPage, campID = Model.CampaignId, callPage = ViewBag.callPageNumber }))    </tr>
    </table>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
