﻿@using AlertSense.Aspen.Common.Models;

@model DevOpsDashboard.Models.CampaignModel
@{
    ViewBag.Title = "Index";
}


<h2>@*Index*@</h2>

<div>
    <table class="table table-bordered table-responsive" style="table-layout: fixed; width: 100%">
        <tr style="word-wrap: break-word">
            <th>Created By</th>
            <th>Created On</th>
            <th>Recipient Count</th>
            <th>Call Failed Count</th>
            <th>Call Pending Count</th>
            <th>Call Success Count</th>
            <th>Text Failed Count</th>
            <th>Text Pending Count</th>
            <th>Text Send Count</th>
            <th>Modified By</th>
            <th>Modified On</th>
            <th>Campaign ID</th>

        </tr>

        @foreach (var detail in Model.CampDetailList)
{
    <tr style="word-wrap:break-word">
        <td>@detail.CreatedBy</td>
        <td>@detail.CreatedOn</td>
        <td>@detail.RecipientCount</td>
        <td>@detail.CallFailedCount</td>
        <td>@detail.CallPendingCount</td>
        <td>@detail.CallSuccessCount</td>
        <td>@detail.TextFailedCount</td>
        <td>@detail.TextPendingCount</td>
        <td>@detail.TextSendCount</td>
        <td>@detail.ModifiedBy</td>
        <td>@detail.ModifiedOn</td>


        <td>@Html.ActionLink(detail.Id.ToString(), "Details", new { campID = detail.Id })</td>

    </tr>
}

        @*Paging functionality that will only load the current page of campaigns into memory.*@
        <tr style="text-align:center">
            @for (int i = 1; i <= ViewBag.NumPages; i++)
            {
                if (i == ViewBag.NumPages) { 
                    @Html.ActionLink("| " + i + " |", "Index", new { page = i }) 
                    
                } else {@Html.ActionLink("| " + i + " ", "Index", new { page = i })}
            }
            Showing @{var x = (Model.CampDetailList.Count());}@x of @Model.CampDetailList.First().TotalCount
        </tr>

    </table>
</div>